fastapi
uvicorn[standard]
sqlalchemy
pydantic
pydantic-settings
python-multipart
pandas
numpy
torch --index-url https://download.pytorch.org/whl/cu118
sentence-transformers
watchfiles
requests
tqdm
scikit-learn
